.adivace{
    .container{
        .add{
            display: flex;
            margin-top: 50px;
            .left{
                p{
                    font-family: 'm-eb';
                    font-size: 24px;
                    color: #535353;
                }
                button{
                    width: 302px;
                    height: 53px;
                    background-color: #3D4F64;
                    border:0;
                    color: #fff;
                    font-family: 'm-eb';
                    font-size: 18px;
                    margin-top: 21px;
                    margin-right: 21px;
                }
                .t{
                    font-family: 'm-b';
                    font-size: 14px;
                    color: #535353;
                    padding-top: 19px;
                    padding-left: 20px;
                }
            }
            .right{
                img{
                    width: 957px;   
                }
            }
        }
    }
}