extends ../blocks/temp.pug

block content
    .del 
        .big 
            .container
                    ul.menu 
                        li.item: a(href="index.html").link Главная
                        li.item: a(href="#").link Подборка
        .container 
            .text Подборка 
            .menu 
                .top   
                    ul
                        li: a Товар 
                        li: a Описание
                        li: a Количество    
                        li: a Сумма
                        li: a Код: 54637654
    .middle 
        .container 
            .bot
                img(src="assets/img/lam.png", alt="")
                .list 
                    |Трековый светильник EVO L
                    .bigtitle 
                        .title  
                            p 50 Bт
                            p Серый
                            p CRI/Ra 80+
                        .title2 
                            p 85
                            p 3000
                            p 1672 LED
                .center 
                    .button 
                        button - 
                        .btn 
                            button 1
                        button +
                    .text Осталось 2 шт
                .right1 
                    p от 3 300 
                    <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.524062 11.0319H2.58552V12.7717C2.58552 12.8564 2.61303 12.9257 2.66837 12.9799C2.72357 13.0344 2.79413 13.0616 2.88009 13.0616H4.41687C4.49663 13.0616 4.56564 13.0344 4.62394 12.9799C4.68223 12.9257 4.71129 12.8564 4.71129 12.7717V11.0319H9.35867C9.44445 11.0319 9.51504 11.005 9.57036 10.9504C9.62573 10.896 9.65321 10.8266 9.65321 10.742V9.58216C9.65321 9.498 9.62573 9.4282 9.57036 9.37404C9.51519 9.31952 9.44445 9.29226 9.35867 9.29226H4.71114V8.22305H7.84007C9.06705 8.22305 10.0685 7.85495 10.8448 7.11771C11.6208 6.38123 12.009 5.42989 12.009 4.26362C12.009 3.09813 11.6208 2.14677 10.8448 1.40954C10.0686 0.673048 9.06702 0.304199 7.84007 0.304199H2.87994C2.79396 0.304199 2.72354 0.331433 2.66822 0.385626C2.61303 0.44012 2.58537 0.509893 2.58537 0.594071V6.29338H0.524062C0.438107 6.29338 0.367671 6.32201 0.312349 6.37938C0.257179 6.43678 0.229492 6.50472 0.229492 6.58323V7.93313C0.229492 8.01778 0.257001 8.08713 0.312349 8.1416C0.367696 8.19612 0.437954 8.22303 0.524062 8.22303H2.58552V9.29223H0.524062C0.438107 9.29223 0.367671 9.31949 0.312349 9.37401C0.257179 9.42818 0.229492 9.49783 0.229492 9.58213V10.7419C0.229492 10.8266 0.257001 10.8959 0.312349 10.9504C0.367671 11.005 0.438081 11.0319 0.524062 11.0319ZM4.71114 2.23432H7.65602C8.30628 2.23432 8.83075 2.42151 9.22966 2.79601C9.62837 3.17053 9.82782 3.65997 9.82782 4.26377C9.82782 4.86788 9.62837 5.35747 9.22966 5.73154C8.83075 6.10637 8.30625 6.29355 7.65602 6.29355H4.71114V2.23432Z" fill="#535353"/></svg>
                .right 
                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.7318 2.07801L7.77889 5.03089L10.6639 7.91588L8.47468 10.1051L5.58969 7.22009L2.65378 10.156L0.58337 8.08559L3.51928 5.14968L0.634281 2.26468L2.82348 0.0754813L5.70848 2.96048L8.66136 0.00759889L10.7318 2.07801Z" fill="#F3A800"/></svg>
                    p Удалить
            .bot
                img(src="assets/img/lam2.png", alt="")
                .list 
                    |Дизайнерский светильник <br>изготавливаемый по проекту
                    .bigtitle 
                        |Длинна до 3 метров. <br>Углы поворота между секторами по проекту. <br>Мощность рассчитывается индивидуально.
                .center 
                    .button2 
                        button - 
                        .btn2 
                            button 1
                        button +
                    .text2 В наличии
                .right1 
                    p от 3 300
                    <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.524062 11.0319H2.58552V12.7717C2.58552 12.8564 2.61303 12.9257 2.66837 12.9799C2.72357 13.0344 2.79413 13.0616 2.88009 13.0616H4.41687C4.49663 13.0616 4.56564 13.0344 4.62394 12.9799C4.68223 12.9257 4.71129 12.8564 4.71129 12.7717V11.0319H9.35867C9.44445 11.0319 9.51504 11.005 9.57036 10.9504C9.62573 10.896 9.65321 10.8266 9.65321 10.742V9.58216C9.65321 9.498 9.62573 9.4282 9.57036 9.37404C9.51519 9.31952 9.44445 9.29226 9.35867 9.29226H4.71114V8.22305H7.84007C9.06705 8.22305 10.0685 7.85495 10.8448 7.11771C11.6208 6.38123 12.009 5.42989 12.009 4.26362C12.009 3.09813 11.6208 2.14677 10.8448 1.40954C10.0686 0.673048 9.06702 0.304199 7.84007 0.304199H2.87994C2.79396 0.304199 2.72354 0.331433 2.66822 0.385626C2.61303 0.44012 2.58537 0.509893 2.58537 0.594071V6.29338H0.524062C0.438107 6.29338 0.367671 6.32201 0.312349 6.37938C0.257179 6.43678 0.229492 6.50472 0.229492 6.58323V7.93313C0.229492 8.01778 0.257001 8.08713 0.312349 8.1416C0.367696 8.19612 0.437954 8.22303 0.524062 8.22303H2.58552V9.29223H0.524062C0.438107 9.29223 0.367671 9.31949 0.312349 9.37401C0.257179 9.42818 0.229492 9.49783 0.229492 9.58213V10.7419C0.229492 10.8266 0.257001 10.8959 0.312349 10.9504C0.367671 11.005 0.438081 11.0319 0.524062 11.0319ZM4.71114 2.23432H7.65602C8.30628 2.23432 8.83075 2.42151 9.22966 2.79601C9.62837 3.17053 9.82782 3.65997 9.82782 4.26377C9.82782 4.86788 9.62837 5.35747 9.22966 5.73154C8.83075 6.10637 8.30625 6.29355 7.65602 6.29355H4.71114V2.23432Z" fill="#535353"/></svg>
                .right 
                    <svg width="11" height="11" viewBox="0 0 11 11" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M10.7318 2.07801L7.77889 5.03089L10.6639 7.91588L8.47468 10.1051L5.58969 7.22009L2.65378 10.156L0.58337 8.08559L3.51928 5.14968L0.634281 2.26468L2.82348 0.0754813L5.70848 2.96048L8.66136 0.00759889L10.7318 2.07801Z" fill="#F3A800"/></svg>
                    p Удалить
    .linch 
        .container 
            .bottom 
                .left 
                    p < К покупкам 
                .bigr 
                    .right1  
                        p Итого: от 44 800 
                        <svg width="13" height="14" viewBox="0 0 13 14" fill="none" xmlns="http://www.w3.org/2000/svg"><path d="M0.524062 11.0319H2.58552V12.7717C2.58552 12.8564 2.61303 12.9257 2.66837 12.9799C2.72357 13.0344 2.79413 13.0616 2.88009 13.0616H4.41687C4.49663 13.0616 4.56564 13.0344 4.62394 12.9799C4.68223 12.9257 4.71129 12.8564 4.71129 12.7717V11.0319H9.35867C9.44445 11.0319 9.51504 11.005 9.57036 10.9504C9.62573 10.896 9.65321 10.8266 9.65321 10.742V9.58216C9.65321 9.498 9.62573 9.4282 9.57036 9.37404C9.51519 9.31952 9.44445 9.29226 9.35867 9.29226H4.71114V8.22305H7.84007C9.06705 8.22305 10.0685 7.85495 10.8448 7.11771C11.6208 6.38123 12.009 5.42989 12.009 4.26362C12.009 3.09813 11.6208 2.14677 10.8448 1.40954C10.0686 0.673048 9.06702 0.304199 7.84007 0.304199H2.87994C2.79396 0.304199 2.72354 0.331433 2.66822 0.385626C2.61303 0.44012 2.58537 0.509893 2.58537 0.594071V6.29338H0.524062C0.438107 6.29338 0.367671 6.32201 0.312349 6.37938C0.257179 6.43678 0.229492 6.50472 0.229492 6.58323V7.93313C0.229492 8.01778 0.257001 8.08713 0.312349 8.1416C0.367696 8.19612 0.437954 8.22303 0.524062 8.22303H2.58552V9.29223H0.524062C0.438107 9.29223 0.367671 9.31949 0.312349 9.37401C0.257179 9.42818 0.229492 9.49783 0.229492 9.58213V10.7419C0.229492 10.8266 0.257001 10.8959 0.312349 10.9504C0.367671 11.005 0.438081 11.0319 0.524062 11.0319ZM4.71114 2.23432H7.65602C8.30628 2.23432 8.83075 2.42151 9.22966 2.79601C9.62837 3.17053 9.82782 3.65997 9.82782 4.26377C9.82782 4.86788 9.62837 5.35747 9.22966 5.73154C8.83075 6.10637 8.30625 6.29355 7.65602 6.29355H4.71114V2.23432Z" fill="#535353"/></svg>
    .social 
        .container 
            .next 
                .btn 
                    button Отправить подборку на почту 
                    button Отправить заявку на расчет






