extends ../blocks/temp.pug

block content 
    .cotolog 
        .big 
            .container 
                ul.menu
                    li.item: a(href="index.html").link Главная
                    li.item: a(href="#").link Каталог 
        .container 
            .text Каталог 
            .bigmenu 
                .top 
                    button Трековые светильники
                    button Встраиваемые светильники
                    button Профильные светильники
                    button Фигурные светильники
                    button Светильники Армстронг
                    .btn 
                        button Светильники Армстронг с равномерной засветкой
                .row 
                    .col-3 
                        .top
                            p Фильтр
                            img(src="assets/img/h.png", alt="")
                        .middle
                            p Мощность
                            .number 
                                .num 44
                                .num 432
                        .middle
                            p Световой поток LED
                            .number 
                                .num 6110
                                .num 53820
                        .middle
                            p Угол рассеивания
                            .number 
                                .num 15
                                .num 160
                        .middlee
                            p Минимальная цена
                            .number 
                                .num 2500
                                .num 10575
                            button Сбросить
                            button Применить
                    .list 
                        p Новинки
                        .bigmenu 
                            .col-4 
                                .newmenu 
                                    .btn1 
                                        button Вт
                                    .img 
                                        img(src="../assets/img/menu1.png", alt="")
                                    .text1 
                                        |Дизайнерский светильник<br>изготавливаемый по проекту
                                    .text2 
                                        |Длинна до 3 метров. 
                                        |Углы поворота между секторами по проекту. 
                                        |Мощность рассчитывается индивидуально.
                                    .num 21 300
                                        img(src="../assets/img/P.svg", alt="")
                                    .btn
                                        .btn2 
                                            button Подробнее
                                        .btn3 
                                            button +
                            .col-4 
                                .newmenu 
                                    .btn1 
                                        button Вт
                                    .img 
                                        img(src="../assets/img/menu1.png", alt="")
                                    .text1 
                                        |Дизайнерский светильник<br>изготавливаемый по проекту
                                    .text2 
                                        |Длинна до 3 метров. 
                                        |Углы поворота между секторами по проекту. 
                                        |Мощность рассчитывается индивидуально.
                                    .num 21 300
                                        img(src="../assets/img/P.svg", alt="")
                                    .btn
                                        .btn2 
                                            button Подробнее
                                        .btn3 
                                            button +
                            .col-4 
                                .newmenu 
                                    .btn1 
                                        button Вт
                                    .img 
                                        img(src="../assets/img/menu1.png", alt="")
                                    .text1 
                                        |Дизайнерский светильник<br>изготавливаемый по проекту
                                    .text2 
                                        |Длинна до 3 метров. 
                                        |Углы поворота между секторами по проекту. 
                                        |Мощность рассчитывается индивидуально.
                                    .num 21 300
                                        img(src="../assets/img/P.svg", alt="")
                                    .btn
                                        .btn2 
                                            button Подробнее
                                        .btn3 
                                            button +
                        p Весь каталог
                        .menu 
                            .col-4 
                                .newmenu 
                                    .btn1 
                                        button Вт
                                    .img 
                                        img(src="../assets/img/menu1.png", alt="")
                                    .text1 
                                        |Дизайнерский светильник<br>изготавливаемый по проекту
                                    .text2 
                                        |Длинна до 3 метров. 
                                        |Углы поворота между секторами по проекту. 
                                        |Мощность рассчитывается индивидуально.
                                    .num 21 300
                                        img(src="../assets/img/P.svg", alt="")
                                    .btn
                                        .btn2 
                                            button Подробнее
                                        .btn3 
                                            button +
                            .col-4 
                                .newmenu 
                                    .btn1 
                                        button Вт
                                    .img 
                                        img(src="../assets/img/menu1.png", alt="")
                                    .text1 
                                        |Дизайнерский светильник<br>изготавливаемый по проекту
                                    .text2 
                                        |Длинна до 3 метров. 
                                        |Углы поворота между секторами по проекту. 
                                        |Мощность рассчитывается индивидуально.
                                    .num 21 300
                                        img(src="../assets/img/P.svg", alt="")
                                    .btn
                                        .btn2 
                                            button Подробнее
                                        .btn3 
                                            button +        
                            .col-4 
                                .newmenu 
                                    .btn1 
                                        button Вт
                                    .img 
                                        img(src="../assets/img/menu1.png", alt="")
                                    .text1 
                                        |Дизайнерский светильник<br>изготавливаемый по проекту
                                    .text2 
                                        |Длинна до 3 метров. 
                                        |Углы поворота между секторами по проекту. 
                                        |Мощность рассчитывается индивидуально.
                                    .num 21 300
                                        img(src="../assets/img/P.svg", alt="")
                                    .btn
                                        .btn2 
                                            button Подробнее
                                        .btn3 
                                            button +
                        .menu 
                            .col-4 
                                .newmenu 
                                    .btn1 
                                        button Вт
                                    .img 
                                        img(src="../assets/img/menu1.png", alt="")
                                    .text1 
                                        |Дизайнерский светильник<br>изготавливаемый по проекту
                                    .text2 
                                        |Длинна до 3 метров. 
                                        |Углы поворота между секторами по проекту. 
                                        |Мощность рассчитывается индивидуально.
                                    .num 21 300
                                        img(src="../assets/img/P.svg", alt="")
                                    .btn
                                        .btn2 
                                            button Подробнее
                                        .btn3 
                                            button +
                            .col-4 
                                .newmenu 
                                    .btn1 
                                        button Вт
                                    .img 
                                        img(src="../assets/img/menu1.png", alt="")
                                    .text1 
                                        |Дизайнерский светильник<br>изготавливаемый по проекту
                                    .text2 
                                        |Длинна до 3 метров. 
                                        |Углы поворота между секторами по проекту. 
                                        |Мощность рассчитывается индивидуально.
                                    .num 21 300
                                        img(src="../assets/img/P.svg", alt="")
                                    .btn
                                        .btn2 
                                            button Подробнее
                                        .btn3 
                                            button +        
                            .col-4 
                                .newmenu 
                                    .btn1 
                                        button Вт
                                    .img 
                                        img(src="../assets/img/menu1.png", alt="")
                                    .text1 
                                        |Дизайнерский светильник<br>изготавливаемый по проекту
                                    .text2 
                                        |Длинна до 3 метров. 
                                        |Углы поворота между секторами по проекту. 
                                        |Мощность рассчитывается индивидуально.
                                    .num 21 300
                                        img(src="../assets/img/P.svg", alt="")
                                    .btn
                                        .btn2 
                                            button Подробнее
                                        .btn3 
                                            button +
                
                                        