extends ../blocks/temp.pug

block content 
    .top
        .big 
            .container
                ul.menu 
                    li.item: a(href="index.html").link Главная
                    li.item: a(href="#").link Доставка и оплата
        .container
            .text 
                |Доставка и оплата
            .menu 
                .biglist 
                    .list1 
                        |Физическим лицам
                    .list1 
                        |Юридическим лицам
                    .list1 
                        |Бюджетным организациям
                .bigm 
                    .middle
                        .text По Москве
                        .bigtext 
                            |Доставка в течении 1 дня после подтверждения заказа. Оплата может производиться как<br> наличными курьеру , так и путем перечисления денежных средств на счет организации с <br>банковского счета физ. лица или через кассу любого банка.
                    .middle 
                        .text В регионы
                        .bigtext 
                            |Доставка в течении 1 дня после подтверждения заказа. Оплата может производиться как<br> наличными курьеру , так и путем перечисления денежных средств на счет организации с <br>банковского счета физ. лица или через кассу любого банка.
                .bignum 
                    .left 
                        .btn 
                            button 1
                            img(src="assets/img/Line.png", alt="")
                        .btn 
                            button 2
                            img(src="assets/img/Line.png", alt="")
                        .btn 
                            button 3
                    .bigtitle   
                        .text 
                            |Оформляете заявку в любой из <br>форм на нашем сайте. Укажите<br> телефон или адрес электронной <br>почты для обратной связи. 
                            .text1
                                |Либо заявку можно оформить <br>по телефону 8 495 233 55 57
                        .text 
                            |Менеджер оформляет заказ,<br>вы согласовываете порядок <br>доставки и оплаты с ним. 
                        .text 
                            |Получаете изделие <br>выбранным вами способом
                        .right 
                            .center 
                                p Ваше имя*       
                                p Ваш телефон*
                                button Отправить      